To scrape data from the given Wikipedia page and create a Dataframe.
Transform the data on Wiki page into pandas dataframe

Import Libraries

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Create List of postal codes of Canada. Use the wiki page content by using BeautifulSoup

In [4]:
# download url data from internet
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(url).text
Canada_data = BeautifulSoup(source, 'lxml')

We have to convert the content of PostalCode HTML table to use it as dataframe

In [5]:
# creat a new Dataframe
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

# loop through to find postcode, borough, neighborhood 
content = Canada_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1
                                 
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head()

  Postalcode         Borough                              Neighborhood
0      M1A\n  Not assigned\n
1      M1B\n   Scarborough\n                           Malvern / Rouge
2      M1C\n   Scarborough\n  Rouge Hill / Port Union / Highland Creek
3      M1E\n   Scarborough\n       Guildwood / Morningside / West Hill
4      M1G\n   Scarborough\n                                    Woburn

We have to clean the data
Drop "None" rows in DataFrame

Drop any row which contains 'Not assigned' value

All "Not assigned" will be replace to 'NaN' using numpy for convenience.

In [6]:
empty = 'Not assigned'
df = df[(df.Postalcode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]

In [7]:
df.head()

  Postalcode         Borough                              Neighborhood
0      M1A\n  Not assigned\n
1      M1B\n   Scarborough\n                           Malvern / Rouge
2      M1C\n   Scarborough\n  Rouge Hill / Port Union / Highland Creek
3      M1E\n   Scarborough\n       Guildwood / Morningside / West Hill
4      M1G\n   Scarborough\n                                    Woburn

In [9]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
dfsec = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [10]:
print(dfsec.shape)
dfsec.head()

(180, 3)

  Postalcode         Borough                              Neighborhood
0      M1A\n  Not assigned\n
1      M1B\n   Scarborough\n                           Malvern / Rouge
2      M1C\n   Scarborough\n  Rouge Hill / Port Union / Highland Creek
3      M1E\n   Scarborough\n       Guildwood / Morningside / West Hill
4      M1G\n   Scarborough\n                                    Woburn